
$yellow: #FFF4CC;
$navy: #00414F;

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    color: $navy;
}
h5 {
    margin-top: 0.5em;
}
.wrapper {
    border-radius: 5px;
    background-color: #eee;
    padding: 2em 8em 2em 4em;
}
.line {
    width: 100%;
    background-color: $navy;
    height: 1px;
    margin-top: 0.5em;
}

ul {
    margin-top: 2em;
}
a {
    text-decoration: none;
    color: $navy;
}
li {
    list-style: none;
    line-height: 1.7;
}